.textlogin{
  margin: 2% 8%;
  padding: 2% 10%;
}
.appointment-img {
  background: url("../Appointment/appointment.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
  background-size: 100% 100%;
}
input[type=date] {
  width: 100%;
}

@media (max-width: 767px){
  .textlogin{
    margin-left: 0%;
    margin-right: -10%;
    padding-top: 1px;
  }
  
  
}