.App {
  text-align: center;
}
.FormCenter{
  position: initial;
  margin-left: 10px;
  background-color: black;
  background-size: cover;
  border-radius: 5px
}
input[type=date]{
  width: 70%;
}
.FormField{
position: initial;
}
.buttons{
float: right;
background-color: #fa42b3;
margin-top: -7%;
margin-right: 104px;
}
.button3{
float: right;
background-color: #fa42b3;
margin-top: -7%;
margin-right: 10px;
}
.p-t-10{
margin-left: ;
}
.pg{
text-decoration-color: #fff;
}
.servesicons{
font-size: 48px;

color: #f70ec4;

}
.servesicons:hover{
font-size: 48px;

color: #f1f5f7;

}
.SSlide img {
  width: 90%;
  border-radius: 20px;
  height: 400px;
  margin: right;
  overflow: hidden;
  }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.banner{
  background-image: url('/images/slide2.jpg');
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  
}

.banner-logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  float: center;
}

.banner-bottom{
  vertical-align: bottom;
}

.block-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 350px;
  object-fit: fill;
}
.paragraph{
  text-align: justify;
  text-justify: inter-word;
  margin-left: 18%;
    margin-right: 18%;
}

html {
  scroll-behavior: smooth;
}
/* =====================serices extra===================== */
.hero-wrap {
width: 100%;
height: 800px;
position: inherit;
background-size: cover;
background-repeat: no-repeat;
background-position: top center;
}
@media (max-width: 1199.98px) {
  .hero-wrap {
    background-position: top center !important; } }
.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: .1;
  background: #fff;
  height: 800px; }
  @media (max-width: 1199.98px) {
    .hero-wrap .overlay {
      opacity: 0; } }
.hero-wrap.hero-wrap-2 {
  height: 600px; }
  .hero-wrap.hero-wrap-2 .overlay {
    background: #f18c8e;
    width: 100%;
    opacity: .3;
    height: 600px; }
  .hero-wrap.hero-wrap-2 .slider-text {
    height: 600px !important; }

.media-body {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1; 
}
.services-section1 {
padding: 0; }

.services1 {
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
padding: 33px 25px; }
@media (max-width: 991.98px) {
  .services1 {
    padding: 10px 0; } }
.services1 .icon {
  line-height: 1.3;
  position: relative; }
  .services1 .icon span {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.2);
    color: #f18c8e; }
.services1 .media-body h3 {
  font-size: 18px;
  font-weight: 700; }
@media (min-width: 992px) {
  .services1.active {
    background: #f18c8e;
    color: #000000; }
    .services1.active .icon span {
      color: #fff; } }
.services1:hover, .services:focus {
  background: #f18c8e;
  color: #000000; }
  .services1:hover .icon span, .services:focus .icon span {
    color: #fff; }
    @media (min-width: 767px) {
     
      .services1.active {
        background: #f18c8e;
        color: #000000; }
        .services1.active .icon span {
          color: #fff; } }
    .services1:hover, .services:focus {
      background: #f18c8e;
      color: #000000; }
      .services1:hover .icon span, .services:focus .icon span {
        color: #fff; }
/* ===============================registration============== */

/* ==========================================================================
 #FONT
 ========================================================================== */
 .font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
  .paragraph{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 0px;
    margin-right: 0px;
    
  }
 
    
  .buttons{
    float: right;
    background-color: #fa42b3;
    margin-top: -0%;
  margin-right: 10px;
  }
  .button3{
    float: right;
    background-color: #fa42b3;
    margin-top: 14%;
  margin-right: -182px;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
  background: #2c6ed5;
}

.bg-red {
  background: #fa4251;
}

.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 50px;
}

.p-t-180 {
  padding-top: 50px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-10 {
  padding-top: 81px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */


.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  float: left;
  margin-top: -116px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Georgia", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.groupdate {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.Date{
  width:66%;
  margin-left:-480px;
}
.input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.input--style-3::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

.input--style-3:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

.input--style-3::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

.input--style-3:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.input--style-3:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 36px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 0;
  color: #ccc;
  font-size: 16px;
  font-family: inherit;
}

.Location,.Typeof,.Time,.Gender{
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 254px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Georgia";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.cards {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-3s {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}
/* ============================image====================================================== */
.card-3s .card-headings {
  background: url("../Home/images.png") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
  background-size: 100% 100%;
}


.card-3s .card-bodys {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

@media (max-width: 767px) {
  .card-3s {
    display: block;
  }
 
    
  .card-3s .card-headings {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3s .card-bodys {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}
.Location,.Typeof,.Time,.Gender{
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 212px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.groupdate {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.Date{
  width:61%;
  margin-left:-220px;
}
/* ================================important  css in home fie ==================*/
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
font-family: Georgia bold;
text-align: center;
}
h2,h3,h1,h4{
font-family: "Georgia";
color: #fd26c7ad;
}
a{
color: #140714;
}
.section4{
  background-image: url('/images/branchbg6.jpeg');
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  background-size: cover;
  
  }
/* gallery
*/
#venue {
 margin-top: 5px;

}
.block-image{
display: block;
margin-left: auto;
margin-right: auto;
width: 500px;
height: 250px;
object-fit: fill;
}
#venue .container-fluid {
margin-bottom: 3px;
}
#venue .venue-info {

background-size: cover;
position: relative;
padding-top: 60px;
padding-bottom: 30px;
}
#venue .venue-info h3 {
font-size: 36px;
font-weight: 700;
color: #fff;
}
#venue .venue-info p {
color: #fff;
margin-bottom: 0;
}
#venue .venue-gallery-container {
padding-right: 12px;
}
#venue .venue-gallery {
overflow: hidden;

}
#venue .venue-gallery img {
transition: all ease-in-out 0.4s;
}
#venue .venue-gallery:hover img {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
.banner4{
background-image: url('/images/servicesbg.jpeg');
background-repeat: no-repeat;
height: auto;
width: auto;
background-size: cover;

}
.banner1{
background-image: url('/images/col2.jpg');
background-repeat: no-repeat;
height: auto;
width: auto;
background-size: cover;
}


  
.ji{
  margin-top: -40px;
}
.b{
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.social-links a {
font-size: 18px;
display: inline-block;
background: white;
color: rgb(22, 18, 18);
line-height: 1;
padding: 8px 0;
margin-right: 20px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}
.service-section {
padding-top: 10px;
}
.services {
margin-bottom: 50px;
}
hr.new4 {
border: 2px solid rgb(112, 238, 238);
width: 35px;
margin-left: 48%;
margin-top: 6px;
}
.services-content {
width:95%;
height: 80%;
padding: 25px 20px 10px;
margin-top: px;
 background: rgb(150, 107, 135);
/* background: #ffafd6; */ 
font-size: 117%;

border: 2px solid rgba(243, 237, 240, 0.76);
border-radius: 25%;
}
.services-content:hover {

min-height:50%;
background: rgb(252, 33, 215);
background-size:cover;
background-blend-mode: multiply;



}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
background: #101522;
padding: 0 0 25px 0;
color: #eee;
font-size: 14px;
}

#footer .footer-top {
background: #040919;
padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
font-size: 26px;
margin: 0 0 20px 0;
padding: 2px 0 2px 0;
line-height: 1;
font-family: "Georgia", sans-serif;
font-weight: 700;
color: #fff;
}

#footer .footer-top .footer-info img {
height: 40px;
margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
font-family: "Georgia";
color: #fff;
}

#footer .footer-top .social-links a {
font-size: 18px;
display: inline-block;
background: #222636;
color: #eee;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
background: #f82249;
color: #fff;
}

#footer .footer-top h4 {
font-size: 14px;
font-weight: bold;
color: #fff;
text-transform: uppercase;
position: relative;
padding-bottom: 12px;
border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}

#footer .footer-top .footer-links ul i {
padding-right: 5px;
color: #f82249;
font-size: 18px;
}

#footer .footer-top .footer-links ul li {
border-bottom: 1px solid #262c44;
padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}

#footer .footer-top .footer-links ul a {
color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
color: #f82249;
}

#footer .footer-top .footer-contact {
margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
line-height: 26px;
}

#footer .footer-top .footer-newsletter {
margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
border: 0;
padding: 6px 8px;
width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
background: #f82249;
border: 0;
width: 35%;
padding: 6px 0;
text-align: center;
color: #fff;
transition: 0.3s;
cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
background: #e0072f;
}

#footer .copyright {
text-align: center;
padding-top: 30px;
}

#footer .credits {
text-align: center;
font-size: 13px;
color: #ddd;
}
.hi{
margin-left: 5px;
}
.hello{
margin-left: 5px;
}
.backg {
/* The image used */
background-image: url("/images/slide2.jpg");

/* Full height */
height: 100vh;
width : auto;
overflow-x: hidden;


/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.buttonlast{
text-size-adjust: ;
width: 60%;
height: 20%; 

text-align: center;
}
.appointmentbut{
float: right;
margin-top: -25px;
}
@media screen and (max-width:1000px){
.hello{
  margin-left: -53px;
}
.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: -93px;
}
.backg {
/* The image used */
background-image: url("/images/slide2.jpg");

/* Full height */
height: 100vh;
width : 100%;
overflow-x: hidden;


/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: contain;
}
.banner-logo{
display: block;
margin-right: auto;
margin-left: auto;
vertical-align: middle;
float: center;
}
}

@media screen and (max-width:676px){
  .backg {
    /* The image used */
    background-image: url("/images/slide2.jpg");
    
    /* Full height */
    height: 100vh;
    width : 100%;
    overflow-x: hidden;
    
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain ;
    }
}


