.custom6{
  width: 78px !important;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}
  #a{
    color: cornsilk;
  }
.narbar1{
  max-width: 100%;
  max-height: 100%;
}
.button{
  margin-top: -170px;
}

  /* Prelaoder */
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff ;
  }
  .loading{
    position: fixed;
    width: 100%;
    height:100vh;
    background: #fff;
    background-image: url('/images/404gif.png');
    background: no-repeat center;
    
    }
  
  .bg5{
    background-image: url('/images/2A.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    
  }
  .buttonheads{
    background-color: #fc0fc0;
    width: 100%;
    height: 100%;
    font-size: 98%;
    border: none;
  color: black;
  padding: 12px 28px;
  cursor: pointer;
  text-align: center;
  }
  .buttonheads:hover {
    background-color: black;
    color: #fc0fc0;
  }
  .buttonmain{
  background-color: black;
  width: 100%;
  height: 100%;
  font-size: 98%;
  border: none;
  color: #fc0fc0;
  padding: 8px 4px;
  cursor: pointer;
  text-align: center;
  }


  .card-body{
    border-radius: 0px;
    border: 0.5px solid rgba(17, 16, 17, 0.767);
  }
  .status{
    
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 5px;
  }
  .statusbutton{
    white-space: nowrap;
    width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .statusbutton1{
    float: left;
    margin-left: 178px;
  }
  
@media screen and (max-width:400px) {
      
    .hello1{
      position: relative;
      top: -51px;
      right: -143px;
    }
    .body1 {
      margin-left: 164px;
      
    }
    .bann{
      background-size: cover;
      height: auto;
    }
    .body1 {
      margin-left: 164px;
  }
  .body2 {
    margin-left: 88px;
  }
  .body3 {
    margin-left: 164px;
  }
  .body4 {
    margin-left: 11px;
  }
  }
@media screen and (max-width:767px) {
    .hello1{
      position: relative;
      top: -51px;
      right: -155px;
    }
    
    .bann{
      background-size: cover;
      height: auto;
    }
    .body1 {
      margin-left: 164px;
  }
  .body2 {
    margin-left: 88px;
  }
  .body3 {
    margin-left: 164px;
  }
  .body4 {
    margin-left: 11px;
  }
  }
  
@media screen and (max-width:1000px) {
    
  .statusbutton1{
    float: left;
    margin-left: 15px;
  }
    .body1 {
      margin-left: 1px;
  }
  .body2 {
    margin-left: 0px;
  }
  .body3 {
    margin-left: 2px;
  }
  .body4 {
    margin-left: -2px;
  }
  .sidebutton1 {
  margin-top: 13px;
  margin-left: 1px;
  }
}
@media screen and (max-width:320px) {
    
    .hello1{
          position: relative;
          top: 0px;
          right: -143px;
        }
        .body1 {
          margin-left: 1px;
      }
      .body2 {
        margin-left: 0px;
      }
      .body3 {
        margin-left: 0px;
      }
      .body4 {
        margin-left: -2px;
      }
      .side {
        margin-top: 13px;
        margin-left: -52px;
      }
}
        
      
      
  
   