#developerswork{
    max-width: 100%;
    border-radius: 5%;
    padding : 2%;
    position: relative;
    text-align: center;
  }
  
  #developerswork>a>img {
    max-width: 100%;
    height: auto;
  }
  
  .brandLogo {
    animation: Brand-logo-spin infinite 10s linear;
    pointer-events: none;
    max-width: 8%;
    height: auto;
  }
  
  @keyframes Brand-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }