html {
  height: 100%;
width: 100%;
    
}
input=
h3 {
     
  font-family: "arial";
      font-weight: 400;
      margin: 0 0 10px 0;
      padding: 0;
      color: #fc0fc0;
      -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: rgb(231, 42, 168);
       
    }
    .card-body1{
      margin-top: -26px;
      padding: "5px"
    }    
    .card0{
      background-image: url('/images/1A.jpg');
      background-repeat: no-repeat;
      height: auto;
      width: auto;
      background-size: cover;
      
    }
    .card1{
      background-image: url('/images/10A.jpg');
      background-repeat: no-repeat;
      height: auto;
      width: auto;
      background-size: cover;
      
    }
    .card2{
      background-image: url('/images/4A.jpg');
      background-repeat: no-repeat;
      height: auto;
      width: auto;
      background-size: cover
      
    }
    /* .navbarpageloading{
      position: fixed;
  width:100%;
  height:100vh;
  background: #fff;
  background-image: url('./images/41.gif');
  
  z-index:99999;
  } */
    a{
      color: white;
    }
    
    .flex-container {
      display: block;
      flex-wrap: nowrap;
      background-color: DodgerBlue;
    }
    
    .flex-container > div {
      background-color: #f1f1f1;
      width: 100px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }


   